// Alex T's SCSS
// @import "./header";
// @import "./footer";

// * html, body {
//   box-sizing: border-box;

//   padding: 0;
//   margin: 0;

//   font-family: 'Open Sans', sans-serif;
//   }

main {
  display: block;
  
  width: 80%;
  margin: auto;
  }

img {
  display: flex;

  width: 100%;
  margin: auto;
  }

@media all and (max-width:600px) {
  img {
    height: 300px;
    }
  }