@import "../utilities/variables";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-stack;
}

.header {
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: $primary-color;
    font-size: 30px;
   


    .header-nav {
        display: flex;
        font-size: 20px;
        
    }
}

a {
    color: $highlight-color;
    text-decoration: none;
}

a:hover {
    color: $secondary-color;
}

.header-links1:hover,
.header-links2:hover {
    cursor: pointer;
    color: $highlight-color;
}

.header-links2 {
    display: none;
    color: $highlight-color;
}

.search {
    display: flex;
    border: 2px solid $highlight-color;
    border-radius: 40px;
    align-items: center;
    justify-content: start;
    font-size: 1.4rem;
    width: 10.4rem;
    height: 2.5rem;
    padding-left: 20px;
    background-color: $secondary-color;
    color: $highlight-color;
}

.logo {
    font-size: 25px;
    color: $highlight-color;
}


nav {
    display: flex;
    width: 100vw;


    .nav-links {
        @extend nav;
        font-size: 1.2rem;
        // padding-left: 7.6%;
        background: $secondary-color;;
        width: 100vw;
        margin-bottom: 50px;

    }
}

ul {
    color: $highlight-color;
    

    li {
        margin: 10px;
        justify-content: space-evenly;
        list-style: none;
        color: $highlight-color;
        
    }
}

@media (orientation: portrait) {

 

    body {
        // overflow: hidden;
        padding-top: 25vh;
    }

    

    .header {
        margin-bottom: 50px;
        position: fixed;
    }

    .header-links1 {
        display: none;
    }

    .nav-links {
        font-size: 1rem;
        position: fixed;
        top: 10vh;
        left: 100%;
        padding-left: 0;
        height: 100vh;
        background-color: $primary-color;
        width: 30%;
        flex-direction: column;
        text-align: center;
        transition: 0.3s ease-in;
        text-align: center;
    }

    .hamburgerMenu {
        right: 0;
        padding: 1rem;
        // position: fixed;
        opacity: 1;
        cursor: pointer;
        z-index: 1;
        background-color: $primary-color;
    }

    .header-links2 {
        display: block;
    }

    .seperator {
        border: solid $highlight-color 2px;
        border-radius: 100%;
        width: 10rem;
        margin-left: 5%;
    }

    .header-nav {
        display: none;
    }

    .search {
        display: none;
    }

    @media screen and (min-width: 900px) {
        .hamburgerMenu {
            opacity: 0;
        }
    }



    .hamburgerMenu div {
        width: 25px;
        height: 3px;
        margin-bottom: 7px;
        background-color: $highlight-color;
        transition-duration: .3s;

    }


    .active {
        transform: translateX(-100%)
    }

    .toggle {
        .line1 {
            transform: rotate(-40deg) translate(-8px, 6px);

            .line2 {
                transform: translateX(100vw);
            }

            .line3 {
                transform: rotate(40deg) translate(-8px, -6px);
            }
        }
    }
}

footer {
    position: relative;
    bottom: 0;
    background: $secondary-color;
    width: 100vw;
    height: 30vh;
    margin-top: 50px;
}